# Rust
/target/
**/*.rs.bk
*.pdb

# Database
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Project files
*.sf/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Test artifacts
*.profraw
*.profdata
coverage/
